# make ls more useful
alias ll='ls -lAF --color=auto'

# tmux
alias tmux="/usr/local/bin/tmux"

# cd-foo

alias ..="cd ..; ll"
alias ...="cd ../..; ll"
alias ....="cd ../../..; ll"
alias .....="cd ../../../..; ll"

# what's my IP?
alias wip="dig +short myip.opendns.com @resolver1.opendns.com"

alias pws="python -m SimpleHTTPServer " 
