# make ls more useful
alias ll='ls -hlF'
alias la='ls -hAlF'

# cd-foo
alias ..="cd ..; ll"
alias ...="cd ../..; ll"
alias ....="cd ../../..; ll"
alias .....="cd ../../../..; ll"

# what's my IP?
alias wip="dig +short myip.opendns.com @resolver1.opendns.com"

# python SimpleHTTPServer
#alias pws="ifconfig|grep 'netmask'; python -m SimpleHTTPServer" 
alias pws="ifconfig|grep 'netmask'; python -m http.server" 

# SUDO!!
alias fuck='sudo $(fc -ln -1)'

alias ipwhois="python -c \"from ipwhois import IPWhois; import sys; print IPWhois(sys.argv[1]).lookup_whois()['nets'][0]['description']\""

alias gistory="history | grep"

alias psg="ps aux | grep -v grep | grep -i -e VSZ -e"

alias grepstat="netstat -pltun | grep -i -e proto -e"

# Don't lose vim colorscheme in tmux mode
# https://stackoverflow.com/questions/10158508/lose-vim-colorscheme-in-tmux-mode
alias tmux='tmux -2'
