# make ls more useful
alias ll='ls -hlF'
alias la='ls -hAlF'

# tmux
alias tmux="/usr/local/bin/tmux"

# cd-foo
alias ..="cd ..; ll"
alias ...="cd ../..; ll"
alias ....="cd ../../..; ll"
alias .....="cd ../../../..; ll"

# what's my IP?
alias wip="dig +short myip.opendns.com @resolver1.opendns.com"

# python SimpleHTTPServer
alias pws="python -m SimpleHTTPServer" 

# SUDO!!
alias fuck='sudo $(fc -ln -1)'
